@text: #333;
@red: #ff0000;

html, body, article{
  width: 100%;
  height: 100%;
}
body{
  font-size: 18px;
  article{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1{
    font-family: 'Arial';
    font-size: 4em;
    color: @text;
  }
}